:host {
  display: block;
  height: 100%;
}

.nav {
  padding: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.21);
  position: relative;
  z-index: 2;
}

.content {
  width: 100%;
  overflow: auto;
  position: absolute;
  top: 41px;
  bottom: 0;
  z-index: 1;
}
