<ul class="nav justify-content-end" *ngIf="hasAccount$ | async">
  <li class="nav-item">
    <a [routerLink]="[ '/issues' ]" routerLinkActive="btn-primary" class="btn btn-sm">Issues</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="[ '/worklogs' ]" routerLinkActive="btn-primary" class="btn btn-sm">Work logs</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="[ '/account' ]" (click)="logout()" class="btn btn-sm text-danger">Logout</a>
  </li>
</ul>

<div class="content">
  <router-outlet></router-outlet>
</div>
