.item {
  width: 60px;
  height: 60px;
  margin: 10px auto;
  border: 2px solid #ffffff;
  box-shadow: 0 0 4px #666666;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:hover, &.item--active {
    .item__image {
      opacity: 1;
    }
  }
}

.item__image {
  opacity: .70;
  transition: .3s all ease-in-out;
}

.item__image, .item__label {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  z-index: 1;
}

.item__label {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-shadow: 1px 1px #000;
  font-weight: 700;
}
